@model IEnumerable<EasyReading.Models.TwinBook>

@Html.ActionLink("Create a new twin book!", "Create", "Book")

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Book1.Title, "GetTwinBook", "Alignment", new { id = item.Id }, new { })
            by @item.Book1.Author</li>
    }
</ul>