@model EasyReading.Models.TwinBook

@{
    var body1 = EasyReading.Lib.BookFormatter.GetHtmlBody(Model.Book1.Path);
    var body2 = EasyReading.Lib.BookFormatter.GetHtmlBody(Model.Book2.Path);
}

<h2>TwoBooks</h2>

@Html.ActionLink("Done!", "CreateTwin", new { id = Model.Id })

<table><tr>

    <td style="vertical-align:top;" class="left-twin">
        @Html.Raw(body1)
    </td>

    <td style="vertical-align:top;" class="right-twin">
        @Html.Raw(body2)
    </td>

</tr></table>

@Scripts.Render("~/Scripts/ch_alignment.js")