@model EasyReading.Models.TwinBook

@{
    HtmlAgilityPack.HtmlDocument doc = new HtmlAgilityPack.HtmlDocument();
    doc.Load(System.Web.Hosting.HostingEnvironment.MapPath(Model.Path));
    var bm1 = Model.Book1.Bookmarks;
    var bm2 = Model.Book2.Bookmarks;
}
    @for (int i = 0; i < Model.Bookmarks.Count - 1; i++) {
    <tr id="mark-@Model.Bookmarks.ElementAt(i).Id">
        <td class="left-twin">
            @{
                var cell = bm1.Where(b => b.Order >= Model.Bookmarks.ElementAt(i).Bookmark1.Order
                    && b.Order < Model.Bookmarks.ElementAt(i+1).Bookmark1.Order);
            }
            @foreach (var c in cell) {
                @Html.Raw(doc.GetElementbyId(c.BookmarkId).OuterHtml)
            }
        </td>
        <td class="right-twin">
            @{
                cell = bm2.Where(b => b.Order >= Model.Bookmarks.ElementAt(i).Bookmark2.Order
                    && b.Order < Model.Bookmarks.ElementAt(i+1).Bookmark2.Order);
            }
            @foreach (var c in cell) {
                @Html.Raw(doc.GetElementbyId(c.BookmarkId).OuterHtml)
            }

        </td>
    </tr>
    }